<div class="container-fluid">
    <div class="row row-side">

        <div class="container" style="padding-left: 150px; ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin/adminpage">หน้าแรก</a></li>
                    <li class="breadcrumb-item active" aria-current="page">อาหาร</li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">สบู่</li> -->
                </ol>


            </nav>

            <div class="card" style="padding-left: 100px; ">
                <div class="mb-3 row">
                    <div class="col-md-auto">
                        <div class="col-md-auto p-3">
                            <div class="text-center"><img src="assets/image/food2.png" style="width: 350px;" alt="...">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-auto">
                        <br>
                        <div class="col-md-auto">
                            <label for="message-text" class="col-form-label font-monospace fw-bold">น้ำพริกปลาร้า</label>
                            <div class="mb-1 row">
                                <div class="col-md-auto">
                                    <label for="message-text" class="col-form-label">ยังไม่มีคะแนน</label>
                                </div>
                                <div class="col-md-auto">
                                    <label for="message-text" class="col-form-label">ขายแล้ว : 0</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-auto">
                            <div class="row">
                                  <!-- <div class="col-md-auto">
                                    <p class="text-decoration-line-through">350฿</p>
                                </div> -->
                                <div class="col-md-auto">
                                    <p class="fw-normal">300฿</p>
                                </div>

                            </div>

                        </div>
                              <!-- <div class="mb-1 row">
                         
                            <div class="col-md-auto">
                                <label for="message-text" class="col-form-label"></label>

                            </div>
                        </div> -->
                        <div class="mb-1 row">
                            <div class="col-md-auto">
                                <label for="message-text" class="col-form-label">ค่าจัดส่ง :</label>
                            </div>
                            <div class="col-md-auto">
                                <label for="message-text" class="col-form-label">29฿</label>

                            </div>

                        </div>

                        <!-- <div class="mb-1 row">
                            <div class="col-md-auto">
                                <label for="message-text" class="col-form-label">สี :</label>
                            </div>
                            <div class="col-md-auto">
                                <label for="message-text" class="col-form-label">สีน้ำเงิน</label>

                            </div>
                        </div> -->

                        <div class="mb-1 row">
                            <div class="col-md-auto">
                                <label for="message-text" class="col-form-label">ขนาด :</label>
                            </div>
                            <div class="col-md-auto ">
                                <th class="col-md-1 fw-bold" scope="col">
                                    <select class=" form-select form-select-sm border-2 fw-bold" aria-label=".form-select-sm example">
                                        <option class="fw-bold" value="1">เลือกขนาด</option>
                                        <option class="fw-bold" value="2">S</option>
                                        <option class="fw-bold" value="3">M</option>
                                        <option class="fw-bold" value="3">L</option>
                                        <option class="fw-bold" value="3">XL</option>
                                    </select>
                                </th>
                            </div>

                            <div class="mb-1 row">
                                <div class="col-md-auto text-center">
                                    <label for="message-text" class="col-form-label">จำนวน :</label>
                                </div>
                                <div class="col-md-auto p-2">
                                    <div class="col-md-1 text-center number-input md-number-input">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                                <div class="col-md-auto text-center">
                                    <label for="message-text" class="col-form-label">มีทั้งหมด 20 ชิ้น</label>
                                </div>
                            </div>
                            &nbsp;
                            <div class="mb-3 row">
                                <div class="col-md-6 text-center">
                                    <button type="button" class="btn btn-primary btn-center btn-sm col-sm-9"><svg
                                            xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 22 22"
                                            width="22px" height="22px">
                                            <path fill="none" d="M 0 0 h 24 v 24 H 0 V 0 Z" />
                                            <path
                                                d="M 15.55 13 c 0.75 0 1.41 -0.41 1.75 -1.03 l 3.58 -6.49 c 0.37 -0.66 -0.11 -1.48 -0.87 -1.48 H 5.21 l -0.94 -2 H 1 v 2 h 2 l 3.6 7.59 l -1.35 2.44 C 4.52 15.37 5.48 17 7 17 h 12 v -2 H 7 l 1.1 -2 h 7.45 Z M 6.16 6 h 12.15 l -2.76 5 H 8.53 L 6.16 6 Z M 7 18 c -1.1 0 -1.99 0.9 -1.99 2 S 5.9 22 7 22 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z m 10 0 c -1.1 0 -1.99 0.9 -1.99 2 s 0.89 2 1.99 2 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z" />
                                        </svg>&nbsp;
                                        เพิ่มใส่ตระกร้า</button>&nbsp;
                                    <!-- <button type="button" class="btn btn-primary ">สั่งซื้อสินค้า</button> -->
                                </div>
                            </div>

                        </div>


                    </div>

                     <!-- ราคา -->
                    <!-- <div class="col-md-5 text-end">
                        <div class="col-md-auto">
                            <label for="message-text" class="col-form-label">฿40</label>
                        </div>
                    </div> -->
                     
                </div>

            </div>
            <br>
            <div class="card">
                <div class="mb-1 row">
                    <div class="col-md-auto">
                        <div class="col-md-auto">
                            <div class="text-center p-3 "><a href="www.test.com"><img class="rounded-circle"
                                        src="assets/image/ice1.jpg" style="width: 50px;" alt="150x150"
                                        data-holder-rendered="true"></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-auto">
                        <br>
                        <div class="col-md-auto ">
                            <h5 class=" font-monospace fw-bold ">kawwwwwwwwwww</h5>

                        </div>

                        <div class="col-md-auto">
                            <!-- <button type="button" class="btn btn-outline-secondary "><i
                                    class="bi bi-chat-right-text"></i>
                                แชทเลย</button>&nbsp; -->
                            <button type="button" class="btn btn-outline-secondary "><a
                                    href="customers/customerspagesupplier"><i
                                        class="bi bi-shop"></i>&nbsp;ดูร้านค้า</a></button>
                        </div>

                    </div>
                </div>
            </div>

            <br>
            <div class="card" style="padding-left: 12px; padding-right: 12px; ">
                <div class="row">
                    <div class="col-md-12 bg-light">
                        <br>
                        <h5 class=" font-monospace fw-bold ">รายละเอียดสินค้า</h5>
                    </div>


                </div>
                <div class="container ">
                    <div class="mb-3 row">
                        <div class="col-md-5">
                            <br>
                            <p class="lh-sm">
                                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            </p>

                        </div>
                    </div>
                </div>

            </div>
               <!-- <br>
            <div class="card" style="padding-left: 12px; padding-right: 12px; ">
                <div class=" row ">
                    <div class="col-md-12 bg-light">
                        <br>
                        <h5 class=" font-monospace fw-bold ">รีวิวสินค้า</h5>
                    </div>
                </div>

                <div class="container ">
                    <br>
                    <div class="card p-3">
                        <div class="mb-3 row">
                            <div class="mb-3 row">
                                <div class="col-md-auto">
                                    <label for="recipient-name" class="col-form-label font-monospace ">ความคิดเห็น : </label>
                                </div>
                                <div class="col-md-9">
                                    <div class="col-md-12">
                                        <textarea class="form-control" id="message-text" value="xxxxxxxxxxxx" formControlName="addrass"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1 row justify-content-end">
                                <a class="btn btn-primary justify-content-end  col-sm-2 me-0" href="" role="button" >ส่งความคิดเห็น</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->



        </div>

    </div>

</div>