<div class="container">
    <div class="row row-side">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="home">หน้าแรก</a></li>
                <li class="breadcrumb-item active" aria-current="home">หมวดหมู่</li>
                <li class="breadcrumb-item active" aria-current="customercategory">อาหาร</li>
            </ol>

        </nav>

        <!--แสดงสินค้า-->

        <div class="mb-3 row">
            <ng-container *ngFor="let item of filterCategory  ">
                <div class="card col-md-2">
                    <img src="{{item.proImg}}" alt="" data-bs-toggle="modal" data-bs-target="#product"
                            data-bs-whatever="@mdo" (click)="selectpro(item)">

                            <a href="" class="card-title link-dark text-decoration-none"
                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"
                            data-bs-toggle="modal" data-bs-target="#product" data-bs-whatever="@mdo"
                            (click)="selectpro(item)">{{item.proName}}

                            </a>

                            <p><strong>Size:</strong> {{item.proSize}}</p>
                            <p><strong>Price:</strong> ฿{{item.proPric}}</p>

                            <div class="col-mb-12">
                                <div class="row">

                                         <button class="btn btn-primary" 
                    (click)=addtocart(item)>
        
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 22 22" width="22px" height="22px">
                      <path fill="none" d="M 0 0 h 24 v 24 H 0 V 0 Z" />
                      <path
                        d="M 15.55 13 c 0.75 0 1.41 -0.41 1.75 -1.03 l 3.58 -6.49 c 0.37 -0.66 -0.11 -1.48 -0.87 -1.48 H 5.21 l -0.94 -2 H 1 v 2 h 2 l 3.6 7.59 l -1.35 2.44 C 4.52 15.37 5.48 17 7 17 h 12 v -2 H 7 l 1.1 -2 h 7.45 Z M 6.16 6 h 12.15 l -2.76 5 H 8.53 L 6.16 6 Z M 7 18 c -1.1 0 -1.99 0.9 -1.99 2 S 5.9 22 7 22 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z m 10 0 c -1.1 0 -1.99 0.9 -1.99 2 s 0.89 2 1.99 2 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z" />
                    </svg>
                  </button>

                  <div class="col-md-6 text-end">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="ดูรายลายเอียดสินค้า" data-bs-toggle="modal"
                    data-bs-target="#product" data-bs-whatever="@mdo" (click)="selectpro(item)">&nbsp;&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-list-task" viewBox="0 0 22 22">
                        <path fill-rule="evenodd"
                            d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z" />
                        <path
                            d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z" />
                        <path fill-rule="evenodd"
                            d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z" />
                    </svg>&nbsp;&nbsp;
                </button>


                  </div>

                  <div class="col-md-6 text-align">
                    <button class="btn btn-primary btn-sm p-1" (click)=addtocart(item) data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="เพิ่มสินค้าใส่ตระกร้า">&nbsp;&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 21 21" width="21px"
                        height="21px">
                        <path fill="none" d="M 0 0 h 24 v 24 H 0 V 0 Z" />
                        <path
                            d="M 15.55 13 c 0.75 0 1.41 -0.41 1.75 -1.03 l 3.58 -6.49 c 0.37 -0.66 -0.11 -1.48 -0.87 -1.48 H 5.21 l -0.94 -2 H 1 v 2 h 2 l 3.6 7.59 l -1.35 2.44 C 4.52 15.37 5.48 17 7 17 h 12 v -2 H 7 l 1.1 -2 h 7.45 Z M 6.16 6 h 12.15 l -2.76 5 H 8.53 L 6.16 6 Z M 7 18 c -1.1 0 -1.99 0.9 -1.99 2 S 5.9 22 7 22 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z m 10 0 c -1.1 0 -1.99 0.9 -1.99 2 s 0.89 2 1.99 2 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z" />
                    </svg>&nbsp;&nbsp;&nbsp;
                </button>

                  </div>
                                    



                                </div>

                            </div>

                </div>

            </ng-container>

        </div>

        <!--รายละเอียดสินค้า-->

        <div class="modal fade" id="product" tabindex="-1" aria-labelledby="productLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h5 class="modal-title font-monospace fw-bold" id="nopaymentLabel">รายละเอียดสินค้า</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body p-3">

                        <form [formGroup]="productForm">
                            <div class="col-sm-12">
                                <div class=" text-end"><a href="customers/customerspagesupplier"><img class="rounded-circle"
                                            src="assets/image/ice1.jpg" style="width: 45px; height: 47px;" alt="100x50"
                                            data-holder-rendered="true"></a>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>

                            <div class="col-sm-12 ">
                                <a href="customers/customerspagesupplier">
                                    <input type="text" class="form-control-plaintext font-monospace fw-bold text-end"
                                        id="recipient-name" value="" formControlName="supName" readonly></a>
                            </div>

                            <div class="">
                                <div class="row p-3">
                                    <div class="col-md-4">
                                        <div class="col-md-auto">
                                            <input type="text" class="form-control-plaintext font-monospace fw-bold"
                                                id="recipient-name" value="" formControlName="proImg" style="width: 150px;"
                                                readonly>
                                            <!-- <div class="text-center"><img src="{{item.proImg}}" style="width: 190px;" alt="..."></div> -->
                                        </div>

                                    </div>
                                    <div class="col-md-8" style="padding-left: 2%;">
                                        <div class="container">
                                            <div class="mb-2 row">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control-plaintext font-monospace fw-bold"
                                                        id="recipient-name" value="" formControlName="proName" readonly>
                                                </div>
                                            </div>

                                            <div class="mb-2 row">
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control-plaintext" id="recipient-name"
                                                        value="" formControlName="proPric" readonly>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="message-text" class="col-form-label ">บาท
                                                    </label>
                                                </div>
                                            </div>
                                                        <!-- <div class="mb-2 row">
                                <div class="col-md-4">
                                  <label for="message-text" class="col-form-label font-monospace ">ค่าจัดส่ง
                                    :</label>
                                </div>
                                <div class="col-md-3">
                                  <input type="text" class="form-control-plaintext" id="recipient-name" value="$29" readonly>
            
                                </div>
                              </div> -->
                              <div class="mb-2 row">
                                <div class="col-md-3">
                                    <label for="message-text" class="col-form-label font-monospace ">สี
                                        :</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control-plaintext" id="recipient-name"
                                        value="" formControlName="proColor" readonly>
                                </div>


                              </div>
                              <div class="mb-2 row">
                                <div class="col-md-auto">
                                    <label for="message-text" class="col-form-label">ขนาด :</label>


                                     
                                </div>
                                <div class="col-md-auto ">
                                    <input type="text" class="form-control-plaintext" id="recipient-name"
                                                value="" formControlName="proSize" readonly>
                                                        <th class="col-md-1 fw-bold" scope="col">
                                    <select class=" form-select form-select-sm border-2 fw-bold"
                                      aria-label=".form-select-sm example">
                                      <option class="fw-bold" value="1">เลือกขนาด</option>
                                      <option class="fw-bold" value="2">S</option>
                                      <option class="fw-bold" value="3">M</option>
                                      <option class="fw-bold" value="3">L</option>
                                      <option class="fw-bold" value="3">XL</option>
                                    </select>
                                  </th>

                                </div>

                                   <div class="mb-2 row">
                                  <div class="col-md-auto ">
                                    <label for="message-text" class="col-form-label">จำนวน :</label>
                                  </div>
                                  <div class="col-md-4 p-2">
                                    <div class="col-md-1 text-center number-input md-number-input">
                                      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                        class="minus"></button>
                                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                                      <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                        class="plus"></button>
                                    </div>
                                  </div>
                                </div>

                                <div class="mb-2 row">
                                    <div class="col-md-4">
                                        <label for="message-text" class="col-form-label">มีทั้งหมด</label>


                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control-plaintext" id="recipient-name"
                                            value="" formControlName="proNumber" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control-plaintext" id="recipient-name"
                                            value="" formControlName="proUnit" readonly>
                                    </div>

                                </div>

                              </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="mb-3 row">

                                    <div class="col-md-3">
                                        <label for="recipient-name"
                                        class="col-form-label font-monospace fw-bold">รายละเอียดสินค้า
                                        :</label>


                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control-plaintext" id="recipient-name"
                                            formControlName="proDetails" readonly>
                                    </div>

                                </div>

                            </div>
                                 <div class="mb-3 row text-end ">
            <div class="col-md-12  p-1">
              <button class="btn btn-primary" type="submit" data-bs-toggle="modal" (click)=addtocart(item)><svg
                  xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 22 22" width="22px" height="22px">
                  <path fill="none" d="M 0 0 h 24 v 24 H 0 V 0 Z" />
                  <path
                    d="M 15.55 13 c 0.75 0 1.41 -0.41 1.75 -1.03 l 3.58 -6.49 c 0.37 -0.66 -0.11 -1.48 -0.87 -1.48 H 5.21 l -0.94 -2 H 1 v 2 h 2 l 3.6 7.59 l -1.35 2.44 C 4.52 15.37 5.48 17 7 17 h 12 v -2 H 7 l 1.1 -2 h 7.45 Z M 6.16 6 h 12.15 l -2.76 5 H 8.53 L 6.16 6 Z M 7 18 c -1.1 0 -1.99 0.9 -1.99 2 S 5.9 22 7 22 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z m 10 0 c -1.1 0 -1.99 0.9 -1.99 2 s 0.89 2 1.99 2 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z" />
                </svg>&nbsp;เพิ่มสินค้าใส่ตระกร้า</button>&nbsp;&nbsp;
            </div>
          </div>


                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>

</div>