<div class="container p-0">
    <div class="row row-side">
          <!--sidbar-->

           <!--conte-->
           <div class="">
            <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-sm-start pt-2 pb-1 mb-2 border-top">
            <h3 class="font-monospace fw-bold"> แก้ไขลูกค้า</h3>

            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-info" routerLink="../customers">
                        << ย้อนกลับ</button>

                </div>

            </div>

            </div>

           </div>

           <nav aria-label="breadcrump">
            <ol class="breadcrump">
                <li class="breadcrumb-item"><a href="#">หน้าแรก</a></li>
                <li class="breadcrumb-item active" aria-current="page">เพิ่มลูกค้า</li>

            </ol>

           </nav>

           <div class="container" style="padding: 0px;">
            <div class="container shadow-sm p-3 mb-5 bg-body rounded">]
                      <!-- <div class="mb-3">
                    <label for="inputSupplier1" class="font-monospace fw-bold ">ข้อมูลทั่วไป</label>
                </div> -->

                <div class="mb-3 row">
                    <label for="validationCustom04" class="col-sm-1 col-form-label">รหัสลูกค้า</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="validationCustom04"  value="xxxxxxxxxxxxx" required>
                    </div>&nbsp;&nbsp;

            </div>

            <div class="mb-3 row">
                <label for="validationCustom04" class="col-sm-1 col-form-label">ชื่อลูกค้า</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="validationCustom04"  value="xxxxxxxxxxxxx" required>
                </div>&nbsp;&nbsp;

           </div>
           <div class="mb-3 row">
            <label for="validationCustom04" class="col-sm-1 col-form-label">นามสกุล</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="validationCustom04"  value="xxxxxxxxxxxxx" required>
            </div>&nbsp;&nbsp;

            

    </div>
    <div class="mb-3 row">
        <label for="validationCustom04" class="col-sm-1 col-form-label">เบอร์โทรศัพท์</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="validationCustom04"  value="xxxxxxxxxxxxx" required>
        </div>&nbsp;&nbsp;

</div>

<div class="mb-3 row">
    <label for="validationCustom04" class="col-sm-1 col-form-label">อีเมล์</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="validationCustom04"  value="xxxxxxxxxxxxx" required>
    </div>&nbsp;&nbsp;
    </div>

    <div class="mb-3 row">
        <label for="validationCustom04" class="col-sm-1 col-form-label">ที่อยู่</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="validationCustom04"  value="xxxxxxxxxxxxx" required>
        </div>&nbsp;&nbsp;
        </div>

        <div class="col-12" style="text-align: right;">
            <div class="col-12" style="text-align: right;">
                <button type="button" class="btn btn-danger">ยกเลิก</button>&nbsp;
                <button type="submit" class="btn border border-secondary">บันทึกและซ่อน</button>&nbsp;
                <button type="submit" class="btn btn-warning">บันทึกและเผยแพร่</button>&nbsp;
            </div>
        </div>
    </div>
</div>
</div>