<!-- home -->
<!-- <div *ngIf="!isLogin"> -->
<div *ngIf="!isLogin">
  <nav class="navbar navbar-expand-sm sticky-top nav-c">
    <div class="container-fluid">
      <a routerLink="home" class="navbar-brand font-white active fw-bold"
        >Community Online</a
      >

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="nav justify-content-end" id="navbarNav">
        <!-- <ul *ngIf="!isLogin" class="navbar-nav px-3"> -->
        <!-- <li class="nav-item">
            <a href="#" class="nav-link link-danger font-white">ช่วยเหลือ</a>
          </li> -->
        <li class="nav-item">
          <a routerLink="register" class="nav-link link-danger font-white"
            >สมัครสมาชิก</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link font-white link-danger"
            >เข้าสู่ระบบ</a
          >
        </li>

        <!-- </ul> -->
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                คุณต้องการออกจากระบบ
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">ต้องการออกจากระบบ ใช่ หรือ ไม่ ?</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-success"
                data-bs-dismiss="modal"
              >
                ยกเลิก
              </button>
              <button type="button" class="btn btn-danger" (click)="logOut()">
                ออกจากระบบ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- content -->
  <div class="col">
    <router-outlet></router-outlet>
  </div>

  <!-- footer -->
  <footer class="bg-light text-center text-lg-start footer-c">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © Community Online
      <!-- <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->
  </footer>
</div>

<!-- Navbar-search -->
<!-- <nav class="navbar navbar-expand-sm nav-c">
  <div class="container">
    <div class="col-md-12">
      <div class="input-group col-mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="ค้นหาสินค้าและร้านค้า"
          aria-label="search"
          aria-describedby="button-addon2"
        />

        <button type="button" class="btn btn-c col-md-1 me-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>

        <a routerLink="login">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#fff"
            viewBox="0 0 27 27"
            width="27px"
            height="27px"
          >
            <path fill="none" d="M 0 0 h 24 v 24 H 0 V 0 Z" />
            <path
              d="M 15.55 13 c 0.75 0 1.41 -0.41 1.75 -1.03 l 3.58 -6.49 c 0.37 -0.66 -0.11 -1.48 -0.87 -1.48 H 5.21 l -0.94 -2 H 1 v 2 h 2 l 3.6 7.59 l -1.35 2.44 C 4.52 15.37 5.48 17 7 17 h 12 v -2 H 7 l 1.1 -2 h 7.45 Z M 6.16 6 h 12.15 l -2.76 5 H 8.53 L 6.16 6 Z M 7 18 c -1.1 0 -1.99 0.9 -1.99 2 S 5.9 22 7 22 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z m 10 0 c -1.1 0 -1.99 0.9 -1.99 2 s 0.89 2 1.99 2 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav> -->

<!-- </div> -->

<!-- menu-actor -->

<!-- ........................................ADMIN............................................... -->
<ng-template ngxPermissionsOnly="ADMIN">
  <!-- navbar -->
  <nav class="navbar navbar-expand-sm sticky-top nav-c">
    <nav class="navbar navbar-expand-sm sticky-top nav-c">
      <div class="container-fluid">
        <a routerLink="adminpage" class="navbar-brand font-white active fw-bold"
          >Community Front-Admin</a
        >

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="nav justify-content-end" id="navbarNav">
          <div class="navbar__username font-white me-2">
            <i
              class="bi bi-person-fill"
              style="font-size: 1rem; color: rgb(0, 0, 0)"
            ></i
            >&nbsp;{{ userName }}
          </div>
          <div class="flex-shrink-0 dropdown">
            <a
              routerLink="adminpage"
              class="d-block link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <!-- <img src="assets/image/pf1.jpg" alt="mdo" width="32" height="32" class="rounded-circle"> -->
            </a>

            <ul
              class="dropdown-menu text-small shadow dropdown-menu-end"
              aria-labelledby="dropdownUser2">

              <li>
                <a class="dropdown-item" routerLink="admin/adminmanag">Admin</a>
              </li>

              <li>
                <a class="dropdown-item" routerLink="admin/addproduct">จัดการข้อมูลสินค้า</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="admin/customers">จัดการข้อมูลลูกค้า</a>
              </li>

              <li>
                <a class="dropdown-item" routerLink="admin/ordercheck"
                  >จัดการข้อมูลคำสั่งซื้อ</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="admin/report">รายงานการขายสินค้า</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <!-- <li><a class="dropdown-item" href="#">Sign out</a></li> -->
              <li class="dropdown-item text-nowrap">
                <a class="nav-link font-dark text-dark" (click)="logOut()"
                  >ออกจากระบบ</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- <div class="container-fluid">
      <a routerLink="adminpage" class="navbar-brand font-white active fw-bold"
        >Community Front-Admin</a >

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="nav justify-content-end" id="navbarNav">
        <div class="navbar__username font-white me-2">
          <i
            class="bi bi-person-fill"
            style="font-size: 1rem; color: rgb(0, 0, 0)"
          ></i
          >&nbsp;
        </div>
        <div class="flex-shrink-0 dropdown">
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          </a>

          <ul
            class="dropdown-menu text-small shadow dropdown-menu-end"
            aria-labelledby="dropdownUser2"
          >
            <li>
              <a class="dropdown-item" routerLink="adminproduct"
                >จัดการข้อมูลสินค้า</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="#">จัดการข้อมูลลูกค้า</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="#">จัดการข้อมูลคำสั่งซื้อ</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="#">รายงานการขายสินค้า</a>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>
            <li class="dropdown-item text-nowrap">
              <a class="nav-link font-dark text-dark" (click)="logOut()"
                >ออกจากระบบ</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              คุณต้องการออกจากระบบ
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">ต้องการออกจากระบบ ใช่ หรือ ไม่ ?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              ยกเลิก
            </button>
            <button type="button" class="btn btn-danger" (click)="logOut()">
              ออกจากระบบ
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-2">
      <!-- sidebar-content -->
      <div class="row row-side" style="margin: 0px">
        <!-- sidebar -->

        <div
          class="col-md-1 col-sm-1 bg-light side-ccc"
          style="height: auto; width: 215px"
        >
          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <a
                routerLink="admin/page"
                class="nav-link link-dark"
                aria-current="admin/adminpage"
              >
                <i
                  class="bi bi-house-fill"
                  style="font-size: 1rem; color: rgb(0, 0, 0)"
                ></i
                >&nbsp; หน้าแรก
              </a>
            </li>
            <li>
              <a routerLink="admin/adminmanag" class="nav-link link-dark">
                <i
                  class="bi bi-person-fill"
                  style="font-size: 1rem; color: rgb(0, 0, 0)"
                ></i
                >&nbsp; Admin
              </a>
            </li>
            <li>
              <a routerLink="admin/product" class="nav-link link-dark">
                <i
                  class="bi bi-person-fill"
                  style="font-size: 1rem; color: rgb(0, 0, 0)"
                ></i
                >&nbsp; จัดการข้อมูลสินค้า
              </a>
            </li>
            <li>
              <a routerLink="admin/customers" class="nav-link link-dark">
                <i
                  class="bi bi-file-earmark-person-fill"
                  style="font-size: 1rem; color: rgb(0, 0, 0)"
                ></i
                >&nbsp; จัดการข้อมูลลูกค้า
              </a>
            </li>
            <li>
              <a routerLink="admin/ordercheck" class="nav-link link-dark">
                <i
                  class="bi bi-file-earmark-person-fill"
                  style="font-size: 1rem; color: rgb(0, 0, 0)"
                ></i
                >&nbsp; จัดการข้อมูลคำสั่งซื้อ
              </a>
            </li>

            <li>
              <a routerLink="admin/report" class="nav-link link-dark">
                <i
                  class="bi bi-folder-symlink-fill"
                  style="font-size: 1rem; color: rgb(0, 0, 0)"
                ></i
                >&nbsp; รายงานการขายสินค้า
              </a>
            </li>

            <li>
              <a routerLink="#" class="nav-link link-dark" (click)="logOut()">
                <i
                  class="bi bi-folder-symlink-fill"
                  style="font-size: 1rem; color: rgb(0, 0, 0)"
                ></i
                >&nbsp; ออกจากระบบ
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- footer -->
  <footer class="bg-light text-center text-lg-start footer-c">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © Community Online
      <!-- <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->
  </footer>
</ng-template>

<!-- .....................................CUSTOMER.................................................. -->
<ng-template ngxPermissionsOnly="CUSTOMERS">
  <nav class="navbar navbar-expand-sm sticky-top nav-c">
    <div class="container-fluid">
      <a href="home" class="navbar-brand font-white active fw-bold"
        >Community Front-Customer</a
      >

      <!-- (click)="gotoOrderBill();" -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="nav justify-content-end" id="navbarNav">
        <!-- <div class="navbar__username font-white me-2">
          <i
            class="bi bi-person-fill"
            style="font-size: 1rem; color: rgb(0, 0, 0)"
          ></i
          >&nbsp;{{ userName }}
        </div> -->
        <div class="flex-shrink-0 dropdown">
          <a
            routerLink="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src=""
              alt="mdo"
              width="32"
              height="35"
              class="rounded-circle"
            />
          </a>
          <ul
            class="dropdown-menu text-small shadow dropdown-menu-end"
            aria-labelledby="dropdownUser2"
          >
            <!-- <li><a class="dropdown-item" href="home">หน้าแรก</a></li> -->
            <li>
              <a class="dropdown-item" routerLink="customers/customers"
                >บัญชีของฉัน</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="customers/customersorder"
                >การซื้อของฉัน</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="customers/customersorderbill"
                >ข้อมูลการสั่งซื้อสินค้า</a
              >
            </li>
            <!-- <li>
              <a class="dropdown-item" routerLink="customer/customerorder"
                >การชำระเงิน</a
              >
            </li> -->

            <li class="dropdown-item text-nowrap">
              <a class="nav-link font-dark text-dark" (click)="logOut()"
                >ออกจากระบบ</a
              >
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>
            <!-- <li><a class="dropdown-item" href="#">Sign out</a></li> -->
            <li class="dropdown-item text-nowrap">
              <!-- <a class="nav-link font-dark text-dark" (click)="logOut()"
                >ออกจากระบบ</a -->
              
            </li>
          </ul>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="customers/customersshopping">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#fff"
            viewBox="0 0 27 27"
            width="27px"
            height="27px"
          >
            <path fill="none" d="M 0 0 h 24 v 24 H 0 V 0 Z" />
            <path
              d="M 15.55 13 c 0.75 0 1.41 -0.41 1.75 -1.03 l 3.58 -6.49 c 0.37 -0.66 -0.11 -1.48 -0.87 -1.48 H 5.21 l -0.94 -2 H 1 v 2 h 2 l 3.6 7.59 l -1.35 2.44 C 4.52 15.37 5.48 17 7 17 h 12 v -2 H 7 l 1.1 -2 h 7.45 Z M 6.16 6 h 12.15 l -2.76 5 H 8.53 L 6.16 6 Z M 7 18 c -1.1 0 -1.99 0.9 -1.99 2 S 5.9 22 7 22 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z m 10 0 c -1.1 0 -1.99 0.9 -1.99 2 s 0.89 2 1.99 2 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z"
            />
          </svg>
          <div style="font-size: 10px" class="badge bg-danger">
            {{ totalItem }}
          </div> </a
        >&nbsp;
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">คุณต้องการออกจากระบบ</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ต้องการออกจากระบบ ใช่ หรือ ไม่ ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">ยกเลิก</button>
              <button type="button" class="btn btn-danger" (click)="logOut()">ออกจากระบบ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Navbar-search -->
  <!-- <nav class="navbar navbar-expand-sm nav-c ">
    <div class="container">
      <div class="col-md-12">
        <div class="input-group col-mb-3">
          <input type="text" class="form-control" placeholder="ค้นหาสินค้าและร้านค้า" aria-label="search"
            aria-describedby="button-addon2">

          <a href="customer/customersearch" class="btn btn-c col-md-1 me-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </a>

          
          <a routerLink="customer/customershoppingcart">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 27 27" width="27px" height="27px">
              <path fill="none" d="M 0 0 h 24 v 24 H 0 V 0 Z" />
              <path
                d="M 15.55 13 c 0.75 0 1.41 -0.41 1.75 -1.03 l 3.58 -6.49 c 0.37 -0.66 -0.11 -1.48 -0.87 -1.48 H 5.21 l -0.94 -2 H 1 v 2 h 2 l 3.6 7.59 l -1.35 2.44 C 4.52 15.37 5.48 17 7 17 h 12 v -2 H 7 l 1.1 -2 h 7.45 Z M 6.16 6 h 12.15 l -2.76 5 H 8.53 L 6.16 6 Z M 7 18 c -1.1 0 -1.99 0.9 -1.99 2 S 5.9 22 7 22 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z m 10 0 c -1.1 0 -1.99 0.9 -1.99 2 s 0.89 2 1.99 2 s 2 -0.9 2 -2 s -0.9 -2 -2 -2 Z" />
            </svg>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
          </a>

        </div>
      </div>
    </div>
  </nav> -->

  <div class="col p-0">
    <router-outlet></router-outlet>
  </div>

  <canvas class="my-4 w-100" id="myChart" width="900" height="200"></canvas>
  <footer
    class="bg-light text-center text-lg-start footer-c navbar-fixed-bottom"
  >
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © Community Front
      <!-- <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->
  </footer>
</ng-template>
