<div class="container p-0" style="min-height: 641px">
    <div class="row row-side">
        <!--content-->

        <div class="">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-sm-start pt-2 pb-1 mb-2 border-bottom font-monospace fw-bold">
                <h3 class="font-monospace fw-bold">ข้อมูลคำสั่งซื้อ</h3>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="admin/page">หน้าแรก</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        ข้อมูลคำสั่งซื้อ
                    </li>
                </ol>
            </nav>

            <div class="card bg-light text-dark">
                <div class="card-body p-3">
                    <div class="container p-3">
                        <form>
                            <div class="row mb-3 align-items-center">
                                <div class="col-md-12" style="text-align: right">
                                    <div class="col-md-3">
                                        <div class="input-group col-mb-3">
                                            <input class="form-control border-end-2 border" type="search" value=""
                                                placeholder="search" id="example-search-input" name="searchText"
                                                [(ngModel)]="searchText" />

                                            <button type="button" class="btn btn-primary col-md-3 me-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path
                                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center text-dark"
                                style="padding-right: 50px; padding-left: 0px">
                                <h4 class="font-monospace fw-bold">คำสั่งซื้อสินค้า</h4>
                                <div class="btn-toolbar">
                                    <div class="col-md-12 col">
                                        <div class="input-group">
                                            <!-- <input class="form-control border-end-2 border " type="search" value="" placeholder="search"
                                            id="example-search-input" name="searchText" [(ngModel)]="searchText"> -->

                                            <span class="input-group-append">
                                                <!-- <button
                                                class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                                                type="button">
                                                <i class="bi bi-search"></i>
                                            </button> -->
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body p-0">
                            <ng-container *ngFor="let item of listBill; let i = index">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="message-text"
                                            class="col-form-label font-monospace fw-bold">ผู้สั่งซื้อ : {{
                                            item?.customersDto?.firstName }} {{ item?.customersDto?.lastName }}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- <label for="message-text" class="col-form-label font-monospace fw-bold ">วันที่สั่งซื้อ : {{
                                            product.billCreate }} | วันที่ชำระ : {{
                                            product.datePm }}</label> -->
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <!-- <label for="message-text" class="col-form-label text-primary font-monospace fw-bold ">{{
                                            product.statusMsg }}</label> -->
                                    </div>
                                    <div
                                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-sm-start pt-2 pb-1 mb-2 border-top">
                                    </div>
                                </div>
                                <div class="tab-centent" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <table class="table table table-hover border-primary">
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col">No.</th>
                                                    <th scope="col">รายการสินค้า</th>
                                                    <!-- <th scope="col">ผู้ขาย</th> -->
                                                    <th scope="col">ราคาต่อหน่วย</th>
                                                    <th scope="col">จำนวน</th>
                                                    <th scope="col">หน่วยนับ</th>
                                                    <th scope="col">รวมเงิน</th>
                                                    <th scope="col">สถานะ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class=""
                                                    *ngFor="let orderDetail of item?.orderdetails; let ix = index">
                                                    <td class="text-center" style="width: 2%">
                                                        {{ ix + 1 }}
                                                    </td>
                                                    <td class="text-center" style="width: 12%">
                                                        {{ orderDetail?.productDto?.proName }}
                                                    </td>
                                                    <!-- <td class="text-center" style="width: 11%;"></td> -->
                                                    <td class="text-center" style="width: 10%">
                                                        {{ orderDetail?.unitPrice }}
                                                    </td>
                                                    <td class="text-center" style="width: 8%">
                                                        {{ orderDetail?.quantity }}
                                                    </td>
                                                    <td class="text-center" style="width: 8%">
                                                        {{ orderDetail?.unit }}
                                                    </td>
                                                    <td class="text-center" style="width: 8%">
                                                        {{ orderDetail?.unitPrice * orderDetail?.quantity }}
                                                    </td>
                                                    <td class="text-center" style="width: 8%">
                                                        <span *ngIf="item?.statusPm == '' || item?.statusPm == null " class="badge bg-warning ">Not Payment</span>
                                                        <span *ngIf="item?.statusPm == 'P'" class="badge bg-success">Payment Success</span>
                                                    </td>
                                                    <td class="text-center text-warning fw-bold" style="width: 10%">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 text-end">
                                    <label for="message-text"
                                        class="col-form-label font-monospace fw-bold">ราคารวมทั้งหมด :
                                        &nbsp;&nbsp; {{item?.billPric | number: '1.2-2'}}</label>
                                </div>
                                <div
                                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-sm-start pt-2 pb-1 mb-2 border-top">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
            </div>
        </div>
    </div>

    <!-- <canvas class="my-4 w-100" id="myChart" height="10"></canvas> -->
</div>