<div class="row row-side" style="min-height: 641px;">
    <!-- content -->
    <div class="">
        <div class="modal-body">

            <form>

                <div class="row ">
                    <div class="row justify-content-between pt-2 pb-2 ">
                    
                        <div class="col-md-4 col-sm-4">
                            <h4 class="text-dark">Dashboard</h4>
                        </div>
                        <div class="col-md-4 col-sm-4 text-end">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <a routerLink="">
                                    <i class="bi bi-arrow-repeat" style="font-size: 17px; color: rgb(255, 255, 255);"></i></a>
                            </button>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3 p-2 pb-4">
                            <div class="card p-3 border border-5 border-end-0 border-bottom-0 border-top-0 border-primary shadow-sm"
                                style="border-radius: 10px;">
                                <div class="row justify-content-between">
                                    <div class="col-md-8 col-sm-8 text-dark">
                                        <h6>จำนวนผู้เข้าชมวันนี้</h6>
                                        <h6>
                                            <dt>1,210 </dt>
                                        </h6>
                                    </div>
                                    <div class="col-md-auto col-sm-auto align-self-center">
                                    <i class="bi bi-eye-fill" style="font-size: 35px; color: rgb(172, 172, 172);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 p-2 pb-4">
                            <div class="card p-3 border border-5 border-end-0 border-bottom-0 border-top-0 border-success shadow-sm"
                                style="border-radius: 10px;">
                                <div class="row justify-content-between">
                                    <div class="col-md-8 col-sm-8 text-dark">
                                        <h6>จำนวนผู้เข้าชมสัปดาห์นี้</h6>
                                        <h6>
                                            <dt>1,210 </dt>
                                        </h6>
                                    </div>
                                    <div class="col-md-auto col-sm-auto align-self-center">
                                        <i class="bi bi-eye-fill" style="font-size: 35px; color: rgb(172, 172, 172);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 p-2 pb-4">
                            <div class="card p-3 border border-5 border-end-0 border-bottom-0 border-top-0 border-info shadow-sm"
                                style="border-radius: 10px;">
                                <div class="row justify-content-between">
                                    <div class="col-md-8 col-sm-8 text-dark">
                                        <h6>จำนวนสมาชิก</h6>
                                        <h6>
                                            <dt>1,210 </dt>
                                        </h6>
                                    </div>
                                    <div class="col-md-auto col-sm-auto align-self-center">
                                        <i class="bi bi-people-fill" style="font-size: 35px; color: rgb(172, 172, 172);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-md-12">
                       
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"
                            style="width: 100%; ">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/image/Banner1.png" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                                                                                        <h5>First slide label</h5>
                                                                                                        <p>Some representative placeholder content for the first slide.</p>
                                                                                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/image/Banner5.png" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                                                                                        <h5>Second slide label</h5>
                                                                                                        <p>Some representative placeholder content for the second slide.</p>
                                                                                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/image/Banner2.png" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                                                                                        <h5>Third slide label</h5>
                                                                                                        <p>Some representative placeholder content for the third slide.</p>
                                                                                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>


                    <div class="col-md-3" style="padding-left: 0%;">
                        <div class="card p-3">
                            <h5 class="modal-title font-monospace fw-bold" id="selectpaymentLabel">ประกาศ</h5>

                        </div>
                        <div class="card-header">
                            <div class="mb-2 row">
                                <div class="col-md-auto">
                                    <label for="message-text"
                                        class="col-form-label font-monospace fw-bold">ตัวช่วยในการรายงานปัญหาสำหรับผู้ขาย!</label>
                                </div>
                                <div class="col-md-auto">
                                    <label for="message-text" class="col-form-label">สะดวกและรวดเร็วยิ่งขึ้น!
                                        เมื่อผู้ขายพบปัญหาต่างๆเกี่ยวกับระบบการขาย เช่น ปัญหาด้านการขนส่ง
                                        ปัญหารายการสินค้าในระบบ ฯลฯ
                                        เพียงรายงานผ่านแบบฟอร์ม "ศูนย์แก้ไขปัญหาสำหรับผู้ขาย" (Seller Solution)
                                        ศึกษาเพิ่มเติม คลิก</label>

                                </div>
                            </div>
                            <div class="mb-2 row">
                                <div class="col-md-auto">
                                    <label for="message-text"
                                        class="col-form-label font-monospace fw-bold">เรียนรู้เทคนิคเจ๋งๆ
                                        กับคอร์สเรียนออนไลน์</label>
                                </div>
                                <div class="col-md-auto">
                                    <label for="message-text" class="col-form-label">เรียนก่อนก็รวยก่อน!
                                        มาเรียนรู้เทคนิคการตลาดเจ๋งๆ กับคอร์สเรียนออนไลน์สำหรับร้านค้า เปิดสอนโดยทีมงาน
                                        SHOPEE คลิก</label>

                                </div>
                            </div>
                            <div class="mb-2 row">
                                <div class="col-md-auto">
                                    <label for="message-text" class="col-form-label font-monospace fw-bold">ผู้ขายShopee
                                        University อัปเดตทุกเทคนิคการขาย</label>
                                </div>
                                <div class="col-md-auto">
                                    <label for="message-text" class="col-form-label">
                                        ต่อยอดความรู้ เพิ่มทักษะทางการขาย แลกเปลี่ยนทุกประสบการณ์ที่ผู้ขายต้องรู้
                                        พร้อมอัปเดตคอร์สเรียนออนไลน์ทุกสัปดาห์
                                        รวมไปถึง ถาม-ตอบ กันแบบสดๆ บอกให้หมดแบบไม่มีกั๊ก กดติดตามเลย!</label>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>



</div>
<!-- <canvas class="my-4 w-100" id="myChart" height="46"></canvas> -->
